@namespace TodosList

@inject TodoStorage TodoStorage

<ul>
    @foreach (string str in Todos)
    {
        <li>@str</li>
    }
</ul>

<style>
    ul {
        width: 45%;
        margin: auto;
    }

    li {
        list-style: none;
        font-size: 115%;
        text-align: center;
        border: 2px black solid;
        border-radius: 25px;
        padding: 2.5rem;
        margin-top: 2.5px;
        margin-bottom: 2.5px;
    }
</style>

@code {
    [Parameter]
    public List<string> Todos { get; set; } = null!;
}
