<li>@Data</li>
<button>Submit</button>

<style>
    li {
        background-color: @CardColor;
        list-style: none;
        font-size: 115%;
        text-align: center;
        border: 2px black solid;
        border-radius: 25px;
        padding: 2.5rem;
        margin-top: 2.5px;
        margin-bottom: 2.5px;
    }

    button {
        height: 3rem;
        width: 10rem;
        margin: auto;
        margin-top: 1rem;
        border: 2px black solid;
        border-radius: 5px;
        outline: none;
        box-shadow: 0 9px lightgray;
        background-color: white;
        transition: 0.3s;
        cursor: pointer;
    }
</style>

@code {
    [Parameter]
    public string CardColor { get; set; }

    [Parameter]
    public string Data { get; set; }
}